::-webkit-scrollbar {
  display: none;
}
p, ul, ol {
  margin-top: 0;
  margin-bottom: 10px
  line-height: 1.7 !important;
}
.content__default:not(.custom), .page-edit, .page-nav {
  max-width: 100% !important;
}
.content__default code {
  color: var(--text-color) !important;
}
.page-title, .personal-info-wrapper, .iconfont.reco-account, .comments-wrapper, .page-edit {
  display: none !important;
}
.color-picker {
  float: left;
}
.back-to-ceiling {
  bottom: 1rem !important;
}

.sidebar-links {
  .sidebar-heading {
    display: block;
    margin-top: -1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    position: relative !important;
    border-top: 1px solid var(--border-color);
  }
  li:first-child .sidebar-heading {
    border-top: 0;
  }
}

.sidebar-heading.open {
  margin-bottom: 1rem;
  background: var(--border-color);
}
.sidebar-heading span:first-child {
  display: block;
}
.sidebar ul.sidebar-links > li {
  background-color: var(--background-color);
}

.sidebar-links li {
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  .sidebar-links.sidebar-group-items {
    padding-bottom: 1.5rem;
    li {
      border: 0;
    }
  }
}
.navbar {
  box-shadow: none;
  border-bottom: 1px solid var(--border-color);
}
.content__default:not(.custom) > h1,
.content__default:not(.custom) > h2,
.content__default:not(.custom) > h3,
.content__default:not(.custom) > h4,
.content__default:not(.custom) > h5,
.content__default:not(.custom) > h6 {
  padding-top: 2.5rem !important;
}
a.sidebar-link.active {
  border-right: 0;
  border-left: 3px solid #3eaf7c;
  background: var(--default-color-2);
}
.custom-block {
  color: #ffffff;
  border-radius: 6px;
  padding: 10px 20px !important;
  border: 1px solid var(--background-color) !important;
  &.warning {
    border-color: #fb9b5f !important;
    background-color: #fb9b5f !important;
  }
  &.tip {
    border-color: #67cc86 !important;
    background-color: #67cc86 !important;
  }
  .custom-block-title {
    font-size: 1.2rem;
    margin-bottom: 5px;
    color: #ffffff !important;
  }
  p:last-child {
    margin-bottom: 0;
  }
}
h2 {
  padding-left: 0 !important;
  padding-bottom: 0.25rem;
  // border-bottom: 1px solid #3eaf7c;
  border-bottom: 1px solid var(--code-color);
  &::before {
    display: none !important;
  }
}

// .sidebar-heading .arrow.down,
// .sidebar-heading .arrow.right {
//   position: absolute;
//   top: 1.25rem !important;
//   left: auto !important;
//   right: 1rem !important;
// }

.suggestions {
  border-color: var(--border-color) !important;
  .page-title {
    display: block !important;
  }
}
