// colors
$accentColor = #3eaf7c
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34
$arrowBgColor = #ccc
$badgeTipColor = #42b983
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961

// layout
$navbarHeight = 3.6rem
$sidebarWidth = 20rem
$contentWidth = 740px
$homePageWidth = 960px

// responsive breakpoints
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px

// $accentColor = #2d8cf0;
// $textColor = #1c2438;
// $borderColor = #dddee1;
// $codeBgColor = #282c34;
// $nprogressColor = red;

.content__default:not(.custom), .page-edit, .page-nav {
  max-width: 100% !important;
}

.page-title, .personal-info-wrapper, .iconfont.reco-account, .comments-wrapper, .page-edit {
  display: none !important;
}

.color-picker {
  float: left;
}

.back-to-ceiling {
  bottom: 1rem !important;
}

.sidebar-heading {
  display: block;
  margin-top: -1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  position: relative !important;
  border-bottom: 1px solid var(--border-color);
}
.sidebar-heading.open {
  margin-bottom: 1rem;
  background: var(--border-color);
}
.sidebar-links.sidebar-group-items {
  border-bottom: 1px solid var(--border-color) !important;
}
.sidebar-heading span:first-child {
  display: block;
}

.sidebar-heading .arrow.down,
.sidebar-heading .arrow.right {
  position: absolute;
  top: 1.25rem !important;
  left: auto !important;
  right: 1rem !important;
}

.suggestions {
  border-color: var(--border-color) !important;
  .page-title {
    display: block !important;
  }
}
.credit-logo {
  margin: 1.5em;
  max-height: 200px !important;
}
.credit-logo.wide {
  max-height: 250px !important;
}

.page .theme-reco-content h2::before {
  display: none;
}
a.header-anchor {
  opacity: 0.6 !important;
  margin-top: 0.2em !important;
  margin-right: 0.4em !important;
}
a.header-anchor:hover {
  opacity: 1 !important;
}
.d-flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center
}
